-r ../requirements.txt
beautifulsoup4==4.9.0
bs4==0.0.1
sphinx
sphinx_rtd_theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinx-execute-code
sphinx-gallery
