absl-py==0.8.0
alabaster==0.7.12
Babel==2.8.0
backcall==0.1.0
beautifulsoup4==4.9.0
bs4==0.0.1
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cryptography==2.9.2
cycler==0.10.0
Cython==0.29.13
decorator==4.4.1
docutils==0.16
fastcache==1.1.0
future==0.18.2
google-api-core==1.17.0
google-api-python-client==1.8.4
google-auth==1.16.0
google-auth-httplib2==0.0.3
googleapis-common-protos==1.51.0
h5py==2.10.0
httplib2==0.18.1
idna==2.9
imagesize==1.2.0
ipython==7.9.0
ipython-genutils==0.2.0
jax==0.1.68
jaxlib==0.1.47
jedi==0.15.1
Jinja2==2.11.2
joblib==0.14.1
kiwisolver==1.1.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.1.3
mne==0.20.0
multitasking==0.0.9
nltk==3.5
numpy==1.17.3
oauth2client==4.1.3
oauthlib==3.1.0
opt-einsum==3.0.1
packaging==20.3
pandas==1.0.3
mock==4.0.2
pandas-datareader==0.8.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.10
protobuf==3.9.1
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDrive==1.3.1
Pygments==2.4.2
pyOpenSSL==19.1.0
pyparsing==2.4.6
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
regex==2020.4.4
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-learn==0.22.2.post1
scipy==1.3.1
six==1.13.0
sklearn==0.0
snowballstemmer==2.0.0
SoundFile==0.10.3.post1
soupsieve==2.0
Sphinx==3.0.4
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.16
tabulate==0.8.7
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
tweepy==3.8.0
uritemplate==3.0.1
urllib3==1.25.9
wcwidth==0.1.7
yfinance==0.1.54
